* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  display: block;
  background: #1f2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}
.input-group {
  background: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  padding-right: 17px;
  align-items: center;
  max-width: 830px;
  width: 50%;
  margin-right: 40px;
}
.logo {
  margin-right: 59px;
}
.input-search {
  width: 100%;
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
}
.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icon-search {
  fill: #000;
}

.icons-link {
  opacity: 0.24;
}
.icons-link:hover {
  opacity: 0.7;
}

.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 95px;
  height: 95%;
  overflow: auto;
  background-color: #fff;

  padding-left: 32px;
}
.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}
.nav-item {
  margin-bottom: 28px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff0000;
}

.nav-item .icon {
  fill: #898989;
}

.nav-item:hover .icon {
  fill: #ff0000;
}
.nav-text {
  margin-left: 13px;
}

.nav-image {
  width: 26px;
  height: 26px;
  background-repeat: 50%;
}
.nav-title {
  font-weight: 700;
  font-style: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.content {
  width: 100%;
  height: 400px;
  margin-top: 95px;
  padding-left: 250px;
  padding-top: 30px;
  padding-right: 70px;
}
.channel {
  position: relative;
  margin-bottom: 50px;
}
.channel-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 20px;
}
.channel-text {
  margin-left: 20px;
}
.video-thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-card {
  width: 250px;
}
.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 3px 9px;
}
.video-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  margin-top: 10px;
  margin-bottom: 4px;
}

.video-counter {
  display: flex;
}
.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}
.video-viws {
  margin-right: 5px;
}

.video-viws::after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.channel-button {
  cursor: pointer;
}
.slider-buttons {
  position: absolute;
  right: 8%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}
.comm {
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  color: #c2c2c2;
}
.video-card-recommended {
  width: 540px;
}

.video-thumb-recommended {
  width: 540px;
  height: 250px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.video-duration-recommended {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 3px 9px;
}
.mobile-sidebar {
  display: none;
}
.mobile-search {
  display: none;
}

@media (max-width: 860px) {
  .icons {
    display: none;
  }
  .user {
    margin-left: auto;
  }
}
@media (max-width: 640px) {
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
  .swiper-slide {
    margin-bottom: 40px;
  }
  .video-thumb {
    height: 300px;
  }
  .slider-buttons {
    display: none;
  }
  .mobile-search {
    display: block;
    margin-left: auto;
  }

  .user {
    margin-left: 20px;
  }
  .input-group {
    position: fixed;
    top: -100px;
    left: 0;
    opacity: 0;
    width: 68%;
    margin-left: 25px;
    transition: top 0.2s;
  }
  .input-group .is-open {
    opacity: 1;
    top: 20px;
  }
  .menu-button {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    padding-left: 32px;
  }
  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .mobile-sidebar .nav-link {
    display: flex;
    flex-direction: column;
  }
  .mobile-sidebar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: 1px solid #f1f1f1;
  }
  .nav-text {
    margin-left: 0;
    font-style: 10px;
    line-height: 13px;
  }
  .nav-item {
    margin-bottom: 0;
  }
}
